apscheduler
boto3
PyJWT
python-dotenv
pymongo
pymongo[srv]
pymongo[aws]
pymongo-schema
fastapi
uvicorn
mongoengine
motor==3.6
python-jose[cryptography]
passlib
python-dotenv
python-multipart
reverse_geocoder